<hr />
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="query" color="accent"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<hr />
<br />

<address id="html-body-footer-address">
    <h4> ===>&nbsp; GITHub :&nbsp; https://github.com/jozef-javorsky-dodo</h4>
    <h4> ===>&nbsp; e-mail :&nbsp; jozef.javorsky.dodo@gmail.com</h4>
</address>